section {
    padding-top: 60px;
    font-size: 15px;
}

section#profile div.profile_left{
    width: 60%;
    float:left;
}

section#profile div.profile_left name{
    font-size: 30px;
}

section#profile div.profile_left attr{
    font-size: 17px;
    font-wight:bold;
    text-decoration:underline;
}

section#profile div.profile_right{
    width: 40%;
    float: left;
}

section#profile div.profile_right img{
    margin-left:auto;
    margin-right:auto;
}

section#profile div.profile_bottom{
    clear: left;
}

.container{
    width:750px;
}

.publications paper_type{
    font-size : 20px;
    font-wight: bold;
}

.publications li{
    padding-left:30px;
    padding-top:10px;
}

li{
    color: #505050;
}